name: bot

on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:

jobs:
  update:
    permissions:
      contents: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: tiawl/spaceporn-action-bot@v1.0.2
      with:
        repository: "${{ github.repository }}"
        token: "${{ github.token }}"
